<!-- Angel Liu, Angel Xu, Jennifer Shan -->
<!-- commStats.html -->

{% extends "base.html" %}

{% block main_content %}
<h1>Community Statistics Page</h1>

<form method=POST action="">
    <label for="menu-time">Select community statictis for another week:</label>
    <select id="menu-time" name="menu-time">
      <option value="none">Choose One</option>
      {% for time in weekList %}
        <option value="{{time['year_and_weekNum']}}">{{time['year_and_weekNum']}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit-btn" value="Submit">
</form>

<form>
    <fieldset>
    {% if method == "GET"%}
      <legend>{{"Community averages for last week"}}</legend>
    {% elif method == "POST" %}
      <legend>{{"Community averages for week {}".format(weekNum)}}</legend>
    {%endif%}
    <table>
    <tr><td><label for="total">Total Spending Average: {{commList[0]['total_avg']}}</label></td>
    <tr><td><label for="food">Food Spending Average: {{commList[0]['food_avg']}}</label></td>
    <tr><td><label for="clothing">Clothing Spending Average: {{commList[0]['clothing_avg']}}</label></td>
    <tr><td><label for="transp">Transportation Spending Average: {{commList[0]['transp_avg']}}</label></td>
    <tr><td><label for="entert">Entertainment Spending Average: {{commList[0]['entert_avg']}}</label></td>
    <tr><td><label for="personal">Personal Spending Average: {{commList[0]['personal_avg']}}</label></td>
    <tr><td><label for="miscel">Miscellaneous Spending Average: {{commList[0]['miscel_avg']}}</label></td>
    </table>
    </fieldset>
</form>

<!-- {% if 'username' not in session%}
  <p>Please <a href="{{ url_for('index') }}">log in</a> to see your own data!</p>
{% elif 'username' in session %}
  <form>
    <fieldset>
    {% if yourData is None %}
      <legend>{{"Community averages for last week"}}</legend>
    {% else %}
      <legend>{{"Community averages for week {}".format(weekNum)}}</legend>
    {%endif%}
    <table>
    <tr><td><label for="total">Your Total Spending: {{commList[0]['total_avg']}}</label></td>
    <tr><td><label for="food">Your Food Spending: {{commList[0]['food_avg']}}</label></td>
    <tr><td><label for="clothing">Your Clothing Spending: {{commList[0]['clothing_avg']}}</label></td>
    <tr><td><label for="transp">Your Transportation Spending: {{commList[0]['transp_avg']}}</label></td>
    <tr><td><label for="entert">Your Entertainment Spending: {{commList[0]['entert_avg']}}</label></td>
    <tr><td><label for="personal">Your Personal Spending: {{commList[0]['personal_avg']}}</label></td>
    <tr><td><label for="miscel">Your Miscellaneous Spending: {{commList[0]['miscel_avg']}}</label></td>
    </table>
    </fieldset>
  </form>
{%endif%} -->

{% endblock %}