<!-- Angel Liu, Angel Xu, Jennifer Shan -->
<!-- commStats.html -->

{% extends "base.html" %}

{% block main_content %}
<h1>Community Statistics</h1>

<form method=POST action="{{ url_for('commStats') }}">
    <label for="menu-time" style="font-size: large;">Select community statistics for another week 
      (the first four digit is year number, and the last two represents the week number in a year):</label>
    <select id="menu-time" name="menu-time">
      <option value="none">Choose One</option>
      {% for time in weekList %}
        <option value="{{time['year_and_weekNum']}}">{{time['year_and_weekNum']}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit-btn" value="Submit">
</form>

<form>
    <fieldset style="margin-top: 20px;">
    {% if method == "GET"%}
      <legend>{{"Community averages and your data for last week"}}</legend>
    {% elif method == "POST" %}
      <legend>{{"Community averages and your data for week {}".format(weekNum)}}</legend>
    {%endif%}
    <table style="width:100%">
    <tr>
      <th>CATegories</th>
      <th>Community AVG</th>
      <th>Your Spending</th>
    </tr>
    <tr><td><label for="total">Total Spending</label></td> 
        <td><label for="total">${{commList[0]['total_avg']}}</label></td> 
        <td><label for="total">${{yourList[0]['sum(total_spending)']}}</label></td>
    <tr><td><label for="food">Food Spending</label></td>
        <td><label for="food">${{commList[0]['food_avg']}}</label></td>
        <td><label for="food">${{yourList[0]['sum(food_spending)']}}</label></td>
    <tr><td><label for="clothing">Clothing Spending</label></td>
        <td><label for="clothing">${{commList[0]['clothing_avg']}}</label></td>
        <td><label for="clothing">${{yourList[0]['sum(clothing_spending)']}}</label></td>
    <tr><td><label for="transp">Transportation Spending</label></td>
        <td><label for="transp">${{commList[0]['transp_avg']}}</label></td>
        <td><label for="transp">${{yourList[0]['sum(transp_spending)']}}</label></td>
    <tr><td><label for="entert">Entertainment Spending</label></td>
        <td><label for="entert">${{commList[0]['entert_avg']}}</label></td>
        <td><label for="entert">${{yourList[0]['sum(entert_spending)']}}</label></td>
    <tr><td><label for="personal">Personal Spending</label></td>
        <td><label for="personal">${{commList[0]['personal_avg']}}</label></td>
        <td><label for="personal">${{yourList[0]['sum(personal_spending)']}}</label></td>
    <tr><td><label for="miscel">Miscellaneous Spending</label></td>
        <td><label for="miscel">${{commList[0]['miscel_avg']}}</label></td>
        <td><label for="miscel">${{yourList[0]['sum(miscel_spending)']}}</label></td>
    </table>
    </fieldset>
</form>

<br>
<div id='chart' class='chart'”></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}