<!-- Angel Liu, Angel Xu, Jennifer Shan -->
<!-- join.html -->

{% extends "base.html" %}

{% block main_content %}
<h1>Sign up for Meowny</h1>

<form method="POST" action=""> 
    <label for="username"> username: </label>
    <input type="text" name="username">
    <label for="password1"> password: </label>
    <input type="text" name="password1">
    <label for="password2"> password again: </label>
    <input type="text" name="password2">
    <br>
    <label for="goal"> spending goal (spend $200 per week, spend less on entertainment, etc.): </label>
    <input type="text" name="goal">
    <input type="submit">
</form>

{% endblock %}