<!-- Angel Liu, Angel Xu, Jennifer Shan -->
<!-- personalPg.html -->

{% extends "base.html" %}

{% block main_content %}

<h1>{{username}}'s personal page <button> <a href="{{ url_for('logout') }}">logout</a> </button> </h1>
<img src="{{ url_for('pic',aid = aid) }}" style="height:150px; display:inline" >
<h2>Your current spending goal is: {{goal}}</h2>
<p>Click here to <a href="{{ url_for('update', username = username) }}">update your spending goal or profile picture.</a></p>

<h3>Please enter your spendings in our CATegories ฅ•ω•ฅ:</h3>

<form method=post action="{{ url_for('user', username = username) }}">

    <fieldset>
    <legend>Enter spendings:</legend>
    <table style="width:100%">
    <tr><td><label for="food" accesskey="1">(1) Food:</label></td>
        <td><input id="food" type="number" step="0.1" name="food"></td></tr>
    <tr><td><label for="clothing" accesskey="2">(2) Clothing:</label></td>
        <td><input id="clothing" type="number" step="0.1" name="clothing"></td></tr>
    <tr><td><label for="transp" accesskey="3">(3) Transportation:</label></td>
        <td><input id="transp" type="number" step="0.1" name="transp"></td></tr>
    <tr><td><label for="entert" accesskey="4">(4) Entertainment:</label></td>
        <td><input id="entert" type="number" step="0.1" name="entert"></td></tr>
    <tr><td><label for="personal" accesskey="5">(5) Personal:</label></td>
        <td><input id="personal" type="number" step="0.1" name="personal"></td></tr>
    <tr><td><label for="miscel" accesskey="6">(6) Miscellaneous:</label></td>
        <td><input id="miscel" type="number" step="0.1" name="miscel"></td></tr>
    </table>
    </fieldset>

    <p> <input type='submit' value='Submit spendings'> </p> 

</form>

<h3>View your history below ฅ•ω•ฅ: </h3>

<table style="width:100%">
    <tr>
      <th>Time of Entry</th>
      <th>Food</th>
      <th>Clothing</th>
      <th>Transportation</th>
      <th>Entertainment</th>
      <th>Personal</th>
      <th>Miscellaneous</th>
      <th>In Total</th>
    </tr>
    {% for data in dataList %}
        <tr>
        <td>{{data.dataTime}}</td>
        <td>${{data.food_spending}}</td>
        <td>${{data.clothing_spending}}</td>
        <td>${{data.transp_spending}}</td>
        <td>${{data.entert_spending}}</td>
        <td>${{data.personal_spending}}</td>
        <td>${{data.miscel_spending}}</td>
        <td>${{data.total_spending}}</td>
        </tr>
    {%endfor%} 
  </table>

{% endblock %}
