<!-- Angel Liu, Angel Xu, Jennifer Shan -->
<!-- personalPg.html -->

{% extends "base.html" %}

{% block main_content %}

<h1>{{username}}'s personal page <button> <a href="{{ url_for('logout') }}">logout</a> </button> </h1>

<h2>Your current spending goal is: {{goal}}</h2>

<p>Click here to <a href="{{ url_for('update', username = username) }}">update your goal.</a></p>

<h3>Please enter your spendings in our CATegories ฅ•ω•ฅ:</h3>

<form method=post action="">

    <fieldset>
    <legend>Enter spendings:</legend>
    <table>
    <tr><td><label for="food" accesskey="1">(1) Food:</label></td>
        <td><input id="food" type="number" step="0.1" name="food"></td></tr>
    <tr><td><label for="clothing" accesskey="2">(2) Clothing:</label></td>
        <td><input id="clothing" type="number" step="0.1" name="clothing"></td></tr>
    <tr><td><label for="transp" accesskey="3">(3) Transportation:</label></td>
        <td><input id="transp" type="number" step="0.1" name="transp"></td></tr>
    <tr><td><label for="entert" accesskey="4">(4) Entertainment:</label></td>
        <td><input id="entert" type="number" step="0.1" name="entert"></td></tr>
    <tr><td><label for="personal" accesskey="5">(5) Personal:</label></td>
        <td><input id="personal" type="number" step="0.1" name="personal"></td></tr>
    <tr><td><label for="miscel" accesskey="6">(6) Miscellaneous:</label></td>
        <td><input id="miscel" type="number" step="0.1" name="miscel"></td></tr>
    </table>
    </fieldset>

    <p> <input type='submit' value='Submit spendings'> </p> 

</form>

<h3>View Your Spending History Below ฅ•ω•ฅ: </h3>
<!-- <form method=POST action="">
    <label for="menu-time">Select a time period of your history:</label>
    <select id="menu-tt" name="menu-tt">
      <option value="none">Choose One</option>
      {% for movie in movies %}
        <option value={{movie.tt}}>{{movie.title}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit-btn" value="Choose">
</form> -->

<p><label for="data"></label>
{% for data in dataList %}
    <li>Entry at {{data.dataTime}}
        records $ spent in the following area:
        food: {{data.food_spending}},
        clothing: {{data.clothing_spending}},
        transportation: {{data.transp_spending}},
        entertainment: {{data.entert_spending}},
        personal expenses: {{data.personal_spending}},
        miscellaneous: {{data.miscel_spending}}
        total: {{data.total_spending}}</li>
{%endfor%} 
</p>

{% endblock %}
